* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f2e6;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 5px;
    background-color: #85abad;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
    color: #f4f2e6;
    background-color: #47696b;
    padding: 10px;
}

.header nav {
    float: right;
    padding-top: 25px;
    margin-right: 30px;
    font-size: 25px;
}

.header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
}

.header a {
    text-decoration: none;
    color: #f4f2e6;
    background-color: #5c878a;
    padding: 10px;
}

.back-img{
    height: 200px;
    width: 100%;
    background-image: url(../images/background-img.jpg);
}

.content {
    width: 80%;
    display: inline-block;
    margin-left: 30px;
}

.about-me, 
.work, 
.contact-me, 
.resume {
    color: #293c3d;
    display: flex;
}

h2 {
    font-size: 50px;
    float: right;
    margin: 20px;
    padding: 20px;
    padding-left: 25px;
    border-right: 5px solid #293c3d;
    width: 25%;
    text-align: right;
}

p {
    font-size: 20px;
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 20px;
    line-height: 2;
}

.prework-study-guide-img {
    height: 500px;
    width: 325px;
    margin-bottom: 30px;
    border: 3px solid #a1882b;
    border-radius: 4px;
}

.work ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.placeholder-img,
.placeholder-img2 {
    background-color: #fff;
    width: 130px;
    padding: 20px;
    height: 240px;
    border: 3px solid #a1882b;
    border-radius: 4px;
    margin: 5px;
    margin-top: 32px;
}

.contact-me ul li {
    list-style-type: none;
    display: inline-block;
    margin: 20px;
    margin-top: 10px;
    padding-top: 30px;
    font-size: 20px;
}

.contact-me a {
    color: #293c3d;
}

/* tablets 992px */
@media screen and (max-width: 992px) {
    .about-me, .work, .contact-me, .resume {
        flex-wrap: wrap;
    }
}

/* large smart phones 768px */
@media screen and (max-width: 768px) {
    .header, .content {
        flex-direction: column;
    }
}

/* small smart phones 576px */
@media screen and (max-width: 576px) {
    h2 {
        border-bottom: 5px solid #293c3d;
    }
}
    

